
#inicio {
    background-image: url("../img/Background2.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    background-size: cover;
}
#boton {
    width:200px;
    display: block;
    background-color: transparent;
    text-align: center;
    position: absolute;
    top:calc(50% - 22px);
    left:calc(50% - 100px);
    background-color: #e74c3c;
    background: #e74c3c;
    border:1px solid #e74c3c;
}

#boton:hover, #boton:active, #boton:focus{
    background-position: 0px 0px;
}
#footer{
    background-color:#000000;
    width: auto;
    position: relative;
    padding:60px 0px;
    min-height: 100vh;
}
/* Buscador */

.overlay{
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,0.9);
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0px;
    left:0px;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    z-index: 500000;
}
.overlay.active{
    opacity: 1;
    visibility: visible;
}
.overlay i{
    position: fixed;
    top: 40px;
    color:#e74c3c;
    right: 40px;
    font-size:30px;
}
.overlay i:hover{
    cursor: pointer;
}
#buscador {
    display: block;
    background-color: transparent;
    text-align: center;
    width: 100%;
    margin:20px auto;
}

#buscador input[type=text]{
    width: 70%;
    display: inline-block;
    padding:15px;
    background-color: #ffffff;
    border: 1px solid azure;
    border-radius: 5px;
    color:#000000;
}

#buscador input[type=submit]{
    width: 15%;
    display: inline-block;
    padding:15px;
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    border-radius: 5px;
    color:#FFF;
    margin-left:15px;
    font-weight: bold;
}
@media only screen and (max-width : 366px){
    .iconos-inicio{
        display: none;
    }
}
@media only screen and (min-width : 1000px){
    #artists{
        width: 110%;
        height: auto;
        margin-left: -4%;

    }
}
.iconos-inicio{
    float: right;
}
#icon-title{
    width: 150px;
    height: 40px;
    margin-top: 10px;
    margin-right: 600px;
    margin-bottom: 10px;
}

#icon-home, #icon-search, #icon-info{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 15px;
}


/*API*/
.interfaz-audio{
    min-height: 100vh;
    background-color: #f39c12;
}
.api{
    margin-top: 10px;
}
.api-col{
}
.search-result{
    color: #000000;

}
.search-result:hover{
    cursor:pointer;
}
.display_result{
    padding: 5px;
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.display_player{
    background-color: #080808;
    width: 10%;
    height: 10%;
}
/*Api Fav*/
.favicon{
    cursor:pointer;
    text-align: center;
}
.favo-cancion {
    unicode-bidi: bidi-override;
    direction: rtl;
    height: 15px;
    width: 15px;
}
.favo-cancion > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    zoom: 2;
}
.favo-cancion > span:hover:before,
.favo-cancion > span:hover ~ span:before,
.favo-cancion.active > span:before
{
    content: "\2605";
    position: absolute;
}

.display_recomendations{
    width: 70%;
}
.delete{
    background: none;
    border: none;
    font-size: small;
    font-weight: 700;
    font-style: italic;
    font-family: monospace;
    color: red;
}
/* Footer*/

.img-author img{
    border-radius:250px;
}

#artists{
    width:50%;
    height:auto;
    margin-left:25%;
}

.name{
    font-family: verdana;
    font-size:120%;
    color: white;
}

@media only screen and (min-width : 767px){
    .reproductor{
        text-align: center;
        padding-right: 10%;
    }
    #album{
        text-align: center;

    }
}

.lista-fav{
    margin-top: 5%;
    background: whitesmoke;
    padding: 5%;
    width: 90%;
    border-radius: 5px;
}
.lista{
    font-size: 115%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#widget{
    display: none;
    border:0px;
}
.email{
    text-align: center;
}